body {
    margin: 0;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #888;
}

a:hover {
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

* {
    box-sizing: border-box; /* 길이 계산 편하게 하기 위함 */
}

/* 재사용 클래스 */
.color_button {
    color: #c28bf8;
}

.text_bold-13 {
    font-weight: bold;
    font-size: 13px;
}