header {
    margin: auto;  /* auto; /* header의 양쪽 여백 (margin)을 동등하게 맞춤 -> 수평 가운데 정렬 */
    width: 1080px;
    height: 150px;
    display: flex;
    align-items: center; /* 하위 요소를 수직 가운데 정렬 */
    position: relative;
}

fieldset {
    border: none; /* 기본 border 없애기 (이 코드를 지우고 기본 border 확인하기) */
}

.visually-hidden {
    position: absolute !important;
    height: 1px;
    width: 1px;
    overflow: hidden;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    white-space: nowrap;
}

.nav {
    height: 60px; /* nav 박스크기 */
    width: 1080px;
    border-bottom: 2px solid rgb(177, 131, 157); /* nav 박스 밑 줄 */
    display: flex; /* 요소들 정렬 */
    align-items: center; /* 박스 안에서 정렬 (상단 중간 하단) */
    margin: 30px;
    color:rgb(177, 131, 157);
    font-size: large;
}

.nav-items {
    display: flex; /* 요소들 정렬 */
    margin-left: auto; /* 왼쪽 여백 */
    margin-right: 0; /* 오른쪽 여백 */
    color: rgb(177, 131, 157);
}

.nav-item {
    margin-left: 70px; /*왼쪽 여백 */
}
